<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>LODE</display-name>
    <servlet-mapping>
        <servlet-name>GraphProvider</servlet-name>
        <url-pattern>/GraphProvider</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>LODE</display-name>
        <servlet-name>LODE</servlet-name>
        <servlet-class>it.essepuntato.lode.LodeServlet</servlet-class>
        <init-param>
            <param-name>cssLocation</param-name>
            <param-value>http://wlode.disit.org:8080/WLODE/</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>GraphProvider</servlet-name>
        <servlet-class>org.disit.wlode.GraphProvider</servlet-class>
        <init-param>
            <param-name>classGraphServiceLocation</param-name>
            <param-value>http://wlode.disit.org:8080/webowlclassgraph/WebOwlClassGraph?</param-value>
        </init-param>
        <init-param>
            <param-name>ontologyGraphServiceLocation</param-name>
            <param-value>http://wlode.disit.org:8080/webontologygraph/WebOntologyGraph?</param-value>
        </init-param>
        <init-param>
            <param-name>staticGraphsBaseURL</param-name>
            <param-value>http://wlode.disit.org:8080/WLODE/static-graphs/</param-value>
        </init-param>
        <init-param>
            <param-name>blankImage</param-name>
            <param-value>http://wlode.disit.org:8080/WLODE/blank.png</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LODE</servlet-name>
        <url-pattern>/extract</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>GetSource</display-name>
        <servlet-name>GetSource</servlet-name>
        <servlet-class>it.essepuntato.lode.GetSource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSource</servlet-name>
        <url-pattern>/source</url-pattern>
    </servlet-mapping>
</web-app>
